@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao teste Bludata</h1>
    <h2>Tecnologias Utilizadas:</h2></br>
    <h4>JavaScrips</h4>
    <h4>JQuery</h4>
    <h4>Ajax</h4>
    <h4>ADO.net</h4>
</div>
